@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lilita+One|Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


p{
  font-family: 'Open Sans Condensed', sans-serif;

  color: #ffffff;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


h1{
  font-family: 'Lilita One', cursive;
  font-weight: 400
}
h2{
  font-family: 'Amatic SC', cursive;
}

h3,h4,h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  
}

h4{
  font-weight: 600;
}
h5{
  font-weight: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
