.peopleWrapper h3,h4,h5{
    margin: 8px;
    color: #ffffff;
}


.peopleWrapper{
    
    flex: 1 0 21%;

}


.peopleWrapper img {
    max-width: 150px;
    border-radius: 50%;
}

.peopleWrapper h5 {
    margin-bottom: 40px!important;
}

