.photoWrapper{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;    
    flex: 1 0 21%;
}


.photoWrapper img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.photoWrapper img:hover{
    transform: scale(1.2,1.2)
}

.imageViwerWrapper{
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(229,229,229, 0.85);
    z-index:9;
    top:0;
    left:0;
    bottom:0;
    
    
    
}

