
.progressWrapper{
    text-align: left;
    overflow: paged-y;
    word-break: break-word;

    -webkit-box-shadow: 3px 6px 15px 2px rgba(0,0,0,0.41);
    -moz-box-shadow: 3px 6px 15px 2px rgba(0,0,0,0.41);
    box-shadow: 3px 6px 15px 2px rgba(0,0,0,0.41);

    max-width: 400px;

    margin: 0px 20px 20px 0;

}

.progressWrapper h3 ,h4{
    margin-left: 15px;

    font-weight: 300;

}

.imageWrapper{
    position: relative;
    background-color:#6cde5f;
    height: 50px;


}


.progressWrapper img {
    position: relative;



    max-width: 300px;
}

.progressWrapper h3{
    position: absolute;
    margin-bottom: 6px !important;
    bottom: 0;
    color: #4a4747;

}
.progressWrapper h4{
    color: #717171
}


