
@import url('https://fonts.googleapis.com/css?family=Lato:300');
#header_wrapper{

    position: absolute;
    height: 100%;
    top: 0;

    max-height: 100%;



    right: 0;
    left: 0;

    
    padding:0 200px 0 200px;


}

p{

    font-family: 'Lato', sans-serif;
    
    font-size: 20px;
    margin: auto;
    text-align: left;
    margin-left: 20px;
}
#logo_wrapper{
    
    display: flex;
    height: 100%;
    

}

#logo{
    margin : auto;
    min-width: 30%;
}
#brandWrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
}
.brand{
    max-width: 150px;
    padding:20px;
    max-height: 50px;

}
#cesar_logo{
    height: auto; 
    width: auto; 
    padding-bottom: 6px;
    min-height: 70px;
    
}



@media only screen and (max-width: 1100px) {
    #logo{
        max-width: 150px;
        padding-top: 60px;
    }

    #header_wrapper{
        padding: 0 10% 0 10%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: inline-grid
       
        
    }

    #brandWrapper{
        position: relative;
        margin: 20px 0 20px 0;
    }
    #logo_wrapper{
        display: block;
    }
    p{
        text-align: center;
        padding-top:25px;
    }
    
}




